.btn-dashboard {
    background-color: #c9ae5d;
    border: 1px solid #c9ae5d;
}

a {
    color: #c9ae5d;
}

.btn-primary {
    background-color: #c9ae5d !important;
    border: 1px solid #c9ae5d !important;
}

#sidebar-menu > ul > li > a.active {
    border-left: 3px solid #c9ae5d;
    color: #c9ae5d!important;
}

#sidebar-menu > ul > li > a:hover {
    color: #c9ae5d;
}

.pagination > .active > a, .pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #c9ae5d;
    border-color: #c9ae5d;
}

.primaryBtn {
    background-color: #c9ae5d;
}

.signupText {
  color: #c9ae5d;
}

.primaryBtn:hover {
    background-color: #c9ae5d;
}

.primaryBtn:focus {
    background-color: #c9ae5d;
}

#sidebar-menu .subdrop {
    border-left: 3px solid #c9ae5d;
    color: #c9ae5d !important;
}

.imgLogo {
    width: 150px;
    height: auto;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #c9ae5d !important;
    border: 1px solid #c9ae5d !important;
}