.btn-dashboard {
    background-color: #000;
    border: 1px solid #000;
}

a {
    color: #000;
}

.btn-primary {
    background-color: #000 !important;
    border: 1px solid #000 !important;
}

#sidebar-menu > ul > li > a.active {
    border-left: 3px solid #fff;
    color: #fff!important;
}

#sidebar-menu > ul > li > a:hover {
    color: #000;
}

.pagination > .active > a, .pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #000;
    border-color: #000;
}

.primaryBtn {
    background-color: #000;
}

.signupText {
  color: #000;
}

.primaryBtn:hover {
    background-color: #777777;
}

.primaryBtn:focus {
    background-color: #777777;
}